*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
/* <!-- Cabecera  --> */

header {
    height: 100vh;
    width: 100%;
    z-index: 999;
    margin-bottom: 100px;
}

nav {
    background: rgba(46, 46, 46, 0.424);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    transition: 0.5s;
}

.navegacion {
    position: absolute;
    right: 10px;
    display: block;
}
/* Boton contacto */
.navegacion a:last-child {
    margin-left: 1em;
    padding: 1em 1.7em;
    border: 1px solid rgb(255, 0, 221);
    border-radius: 5px;
    color: #fff;
    background: rgb(255, 0, 221);
    font-weight: bold;
    transition: 0.2s ease-in;
}
.navegacion a:last-child:hover {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 221);
}
.navegacion a:last-child:after {
    position: absolute;
    background-color: transparent;
}
/* Boton contacto */

.logo img {
    width: 100%;
    height: 80px;
}

a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);

    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 10px;
}

a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 0, 195);
    height: 3.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

a:hover:after {
    width: 100%;
}
a:hover {
    color: rgb(104, 104, 104);
}

.hero {
    width: 100%;
}
.hero img {
    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: center;
}

/* <!-- Cabecera  --> */

.detalles-desarrollo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    background-color: #f6f6f6;
}

.informacion-desarrollo {
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-width: 220px;
    height: 22 0px;
}
.informacion-desarrollo h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #27445d;
}
.informacion-desarrollo p {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #77a4d3;
    font-weight: 100;
}
/* <--MEMORIA PROYECTO -->*/

.memoria-proyecto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.descripcion-proyecto {
    flex-direction: column;
    height: 100%;
    min-width: 50%;
    padding: 3rem 2rem 3rem 2rem;
}
.descripcion-proyecto h2 {
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 3rem;
    color: #072946;
    font-weight: 200;
}

.descripcion-proyecto p {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #4e4e4e;
    font-weight: 200;
}
.iconos-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.contenedor-iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    width: 150px;
    height: 100px;
    margin: 0.5rem 0.5rem;
}
.contenedor-iconos_img {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-iconos_img img {
    object-fit: contain;
    object-position: center;
}

.contenedor-iconos h3 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #072946;
}
.contenedor-iconos p {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #4e4e4e;
    font-weight: 200;
}
/* <--SLIDER FOTOS -->*/
.slider-fotos {
    height: 100%;
    width: 100%;
    padding: 4rem 0rem;
}

.slider {
    position: relative;
    background: #000116;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide .info {
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2 {
    font-size: 2em;
    font-weight: 800;
}

.slider .slide .info p {
    font-size: 1em;
    font-weight: 400;
}

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn,
.next-btn {
    z-index: 20;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon {
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
    background: #4285f4;
}

/* <--MASTERPLAN -->*/

.masterplan {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

.masterplan h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.masterplan p {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 100;
    padding: 0rem 1.5rem 2rem 1.5rem;
}
.masterplan-container {
    width: 100%;
    height: 100%;
}
.masterplan-container img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-height: 600px;
}
/* <--PLANTAS -->*/

.plantas {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.plantas h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
}
.plantas p {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 100;
    padding: 0rem 0rem 2rem 0rem;
}
.plantas-container {
    width: 100%;
    height: 100%;
}
.plantas-container img {
    object-fit: contain;
    object-position: center;
    width: 100%;
}
/* <--ACANCE DE OBRA -->*/

.avance-de_obra {
    width: 100%;
    height: 100%;
    padding: 6rem 1.5rem 0rem 1.5rem;
}
.avance-de_obra h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
    padding: 2rem 0rem 0rem 0rem;
}

/* <--SLIDER AMENITIES -->*/

.amenities {
    width: 100%;
    height: 100%;
    padding: 6rem 1.5rem 0rem 1.5rem;
}
.amenities h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    padding: 2rem 0rem 0rem 0rem;

    color: #072946;
}
.amenities p {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0rem 0rem 2rem 0rem;
}
/* <--SLIDER TERMINACIONES -->*/

.slider-terminaciones {
    width: 100%;
    height: 500px;
    padding: 6rem 0rem;
}
.slider-terminaciones h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.slider-terminaciones p {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 100;
    padding: 0rem 1.5rem 2rem 1.5rem;
}
/* <--UBICACION -->*/

.ubicacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 0rem;
}

.ubicacion-titulo {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
    padding: 2rem 1.5rem 0rem 1.5rem;
}

.ubicacion-direccion {
    font-size: 2.4rem;
    color: #6a9dd1;
    text-transform: uppercase;
    font-weight: 100;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.ubicacion-descripcion {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 100;
    padding: 1rem 1.5rem 2rem 1.5rem;
}
.ubicacion-mapa {
    margin: auto;
    width: 100%;
    height: 300px;
    max-height: 600px;
}

/* <--FORMULARIO DE CONTACTO -->*/

.contacto {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
}
.contacto div {
    width: 100%;
}
.contacto h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 100;
    padding: 2rem 1.5rem 0rem 1.5rem;
    color: #072946;
    margin: 1rem 0rem;
    padding: 1rem;
}
form textarea {
    margin: 1rem 0rem;
    padding: 1rem;
    height: 150px;
}
#boton {
    max-width: 100px;
    background-color: #072946;
    color: #fff;
    transform: scale(1);
}
#boton:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.contacto-vendedores {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.vendedores h3 {
    font-size: 1.6rem;
    color: #072946;
    margin: 1rem 0rem;
}
.vendedores p {
    font-size: 1.4rem;
    margin: 1rem 0rem;
    color: #4e4e4e;
}
/* <-- FOOTER -->*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-top: 4rem;

    background-color: #f6f6f6;
}

.direccion p {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    color: #072946;
    margin: 1rem 0rem;
}
.creditos {
    text-align: center;
    font-size: 1.2rem;
    color: #4e4e4e;
    margin: 3rem 0rem;
}
.creditos a {
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 1.2rem;
    text-decoration: none;
}
.disclaimer {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #072946;
}
.disclaimer p {
    font-size: 1.4rem;
    padding: 1rem;
}

/* <-- HAMBURGUER MENU ICON-->*/

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 240ms;
    display: none;
}
.hamburger-top,
.hamburger-middle,
.hamburger-botton {
    position: absolute;
    top: 0;
    right: 10px;
    width: 24px;
    height: 2px;
    background: #000000;
    transform: rotate(0);
    transition: all 500ms;
}
.hamburger-middle {
    transform: translateY(7px);
}
.hamburger-botton {
    transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
    display: none;
}
.open .hamburger-botton {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
/* MOBILE MENU */
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 3;
}
.mobile-menu a {
    text-decoration: none;
    font-size: 30px;
    color: #777;
    cursor: pointer;

    text-align: center;
}
.mobile-menu a:hover {
    color: #000;
}

.mobile-menu {
    text-decoration: none;
    list-style: none;
    position: fixed;
    top: 80px;
    right: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 30px;
    transition: all 300ms ease-in;
}

.hidden {
    transform: translateX(100%);
}
.no-scroll {
    overflow: hidden;
}

/* <-- MEDIA QUERIES-->*/

@media (max-width: 1200px) {
    .hamburger {
        display: block;
    }
    .navegacion {
        width: 100%;
        display: none;
    }
    nav {
        background: #fff;
    }
}


@media only screen and (min-width: 900px) {
    /*    <!-- DETALLES DEL PROYECTO --> */
    .detalles-desarrollo {
        max-width: 1200px;
        margin-top: -7rem;
    }
    /*    <!-- MEMORIA DE PROYECTO --> */
    .memoria-proyecto {
        max-width: 1200px;
        display: flex;
        flex-wrap: nowrap;
        padding: 6rem 0rem;
    }
    .descripcion-proyecto {
        padding: 0rem 2rem;
        flex: 50%;
        height: 100%;
    }
    .descripcion-proyecto h2 {
        font-size: 4rem;
    }

    .iconos-proyecto {
        flex: 50%;
    }
    .contenedor-iconos {
        flex-direction: row;
        margin: 0rem 3rem;
    }
    .contenedor-iconos_txt {
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .contenedor-iconos_txt h2 {
        text-align: left;
    }
    /*    <!-- SLIDER FOTOS --> */

    /*    <!-- MASTERPLAN --> */

    /*    <!-- PLANTAS --> */

    /*    <!-- AVANCE DE OBRA --> */

    .avance-de_obra {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0rem;
    }
    .avance-de_obra-descripcion {
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
    }
    .avance-de_obra-descripcion h2 {
        padding-bottom: 2rem;
        font-size: 3.2rem;
    }
    .slider-obra {
        width: 100%;
    }
    .slider {
        height: 650px;
        width: 100%;
    }
    /*    <!-- AMENITIES --> */

    .amenities {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0rem;
    }
    .amenities-descripcion {
        display: flex;
        width: 100%;
        max-width: 1200px;
        padding: 2rem 0rem;
    }
    .amenities-descripcion h2 {
        font-size: 4rem;
        padding-top: 0rem;
    }
    .amenities-descripcion p {
        width: 650px;
        padding: 1rem 2rem 0rem 2rem;
    }
    .slider-amenities {
        width: 100%;
    }
    .slider {
        height: 650px;
    }

    /*    <!-- TERMINACIONES --> */
    .slider-terminaciones {
        width: 100%;
        width: 650px;
    }
    .slider-terminaciones h2 {
        font-size: 3.2rem;
    }

    /*    <!-- UBICACIÓN --> */

    .ubicacion-mapa {
        height: 650px;
    }
    /*    <!-- CONTACTO --> */

    .contacto {
        padding-top: 2rem;
        width: 100%;
    }
    .contacto-contenedor {
        display: flex;
        justify-content: center;
        max-width: 1200px;

        width: 100%;
    }
    .contacto h2 {
        text-align: left;
        font-size: 3rem;
    }
    form {
        flex: 50%;
        padding-right: 2rem;
    }
    .contacto-vendedores {
        flex: 50%;
        width: 100%;
    }
    .vendedores {
        display: flex;
        flex-direction: column;
        margin: 0rem;
        max-width: 600px;
        padding-left: 2rem;
        padding-bottom: 6rem;
    }
    .vendedores h3 {
        padding-top: 1rem;
        text-align: left;
        margin: 0rem;
    }
    .vendedores p {
        min-width: 300px;
        margin: 0rem;
    }
    /*    <!-- FOOTER --> */
}
