*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
/* <!-- Cabecera  --> */

header {
    height: 100vh;
}
.logo {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
}
.logo a {
    font-size: 3rem;
}
nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: transparent;
}
a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 10px;
}

a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

a:hover:after {
    width: 100%;
}
a:hover {
    color: #ffffff;
}

.hero {
    width: 100%;
}
.hero img {
    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: center;
}

/* <!-- Cabecera  --> */

.detalles-desarrollo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    background-color: #f6f6f6;
}

.informacion-desarrollo {
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-width: 220px;
    height: 22 0px;
}
.informacion-desarrollo h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #27445d;
}
.informacion-desarrollo p {
    text-align: center;
    font-size: 3rem;
    color: #77a4d3;
    font-weight: 400;
}
/* <--MEMORIA PROYECTO -->*/

.memoria-proyecto {
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.descripcion-proyecto {
    flex-direction: column;
    height: 100%;
    min-width: 50%;
    padding: 3rem 2rem 3rem 2rem;
}
.descripcion-proyecto h2 {
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 3rem;
    color: #072946;
    font-weight: 200;
}

.descripcion-proyecto p {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #4e4e4e;
    font-weight: 200;
}
.iconos-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.contenedor-iconos {
    display: flex;
    width: 150px;
    height: 100px;
    background-color: #f6f6f6;
    margin: 1rem 1rem;
}
/* <--SLIDER FOTOS -->*/
.slider-fotos {
    padding: 2rem 1.5rem 0rem 1.5rem;
}
/* <--MASTERPLAN -->*/

.masterplan {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding: 2rem 1.5rem 0rem 1.5rem;
}

.masterplan h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #072946;
}
.masterplan p {
    font-size: 1.4rem;
    color: #153550;
    text-transform: uppercase;
}
.masterplan-container {
    width: 100%;
    min-height: 300px;
    height: 100%;
    padding: 2rem 0rem;
}
.masterplan-container img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-height: 600px;
}
/* <--PLANTAS -->*/

.plantas {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.plantas h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #072946;
}
.plantas p {
    font-size: 1.4rem;
    color: #153550;
    text-transform: uppercase;
}

.plantas-container {
    width: 100%;
    min-height: 300px;
    height: 100%;
    padding: 2rem 0rem;
}
.plantas-container img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-height: 600px;
}
/* <--ACANCE DE OBRA -->*/

.avance-de_obra {
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.avance-de_obra h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #072946;
}

/* <--SLIDER AMENITIES -->*/

.amenities {
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.amenities h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #072946;
}

/* <--SLIDER TERMINACIONES -->*/

.slider-terminaciones {
    width: 100%;
    height: 500px;
    background-color: lightpink;
}

/* <--UBICACION -->*/

.ubicacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;

}

.ubicacion-titulo {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
    padding: 2rem 1.5rem 0rem 1.5rem;
}

.ubicacion-direccion {
    font-size: 2.4rem;
    color: #6a9dd1;
    text-transform: uppercase;
    font-weight: 100;
    padding: 2rem 1.5rem 0rem 1.5rem;
}
.ubicacion-descripcion {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 100;

    padding: 2rem 1.5rem 0rem 1.5rem;
}
.ubicacion-mapa {
   margin: auto;
    width: 90%;
    height: 100%;
    padding: 2rem 0rem;
}

/* <--FORMULARIO DE CONTACTO -->*/

.contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 768px;
}

form h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #072946;
}

input {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 100;
    padding: 2rem 1.5rem 0rem 1.5rem;
    color: #072946;
    margin: 1rem 0rem;
    padding: 1rem;
}
form textarea {
    margin: 1rem 0rem;
    padding: 1rem;
    height: 150px;
}
#boton {
    max-width: 100px;
    background-color: #072946;
    color: #fff;
    transform: scale(1);
}
#boton:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.contacto-vendedores {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.vendedores h3 {
    font-size: 1.6rem;
    color: #072946;
    margin: 1rem 0rem;
}
.vendedores p {
    font-size: 1.4rem;
    margin: 1rem 0rem;
    color: #4e4e4e;
}
/* <-- FOOTER -->*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-top: 4rem;

    background-color: #f6f6f6;
}

.direccion p {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    color: #072946;
    margin: 1rem 0rem;
}
.creditos {
    text-align: center;
    font-size: 1.2rem;
    color: #4e4e4e;
    margin: 3rem 0rem;
}
.creditos a {
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 1.2rem;
    text-decoration: none;
}
.disclaimer {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #072946;
}
.disclaimer p {
    font-size: 1.4rem;
    padding: 1rem;
}
